<ion-content>

  <ion-row class="logo-container">
    <ion-col size="12">
      <img src="../../../assets/logo.svg" alt="">
    </ion-col>
  </ion-row>

  <section *ngIf="step1" class="form-container">
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Ingresa tu email</ion-label>
          <ion-input [(ngModel)]="email" type="email"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-row>
          <ion-col size="12" style="text-align: center;">
            <ion-button (click)="changePassword()">ENVIAR</ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </section>

  <section *ngIf="step2" class="form-container">
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Contraseña actual</ion-label>
          <ion-input #input1 [type]="changeType1"></ion-input>
          <ion-icon #icon1 (click)="changeInputType(1)" name="eye-outline" slot="end"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Nueva contraseña</ion-label>
          <ion-input #input2 [type]="changeType2"></ion-input>
          <ion-icon #icon2 (click)="changeInputType(2)" name="eye-outline" slot="end"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Nueva contraseña</ion-label>
          <ion-input #input3 [type]="changeType3"></ion-input>
          <ion-icon #icon3 (click)="changeInputType(3)" name="eye-outline" slot="end"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" style="text-align: center;">
        <ion-button (click)="changePassword()">ENVIAR</ion-button>
      </ion-col>
    </ion-row>
  </section>
  
</ion-content>
