.logo-container {
    height: 30vh;

    ion-col {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    img {
        width: inherit;
        height: 100px;
    }
}

.form-container {
    padding: 20px;
}

ion-button {
    --background: #d62826;
    height: 50px;
    font-size: 17px;
}

